// =============================================================================
// About
// =============================================================================

.about {
  padding: 25px 0;
  img {
  	max-width: 250px;
  	margin-left: auto;
  	margin-right: auto;
  }
  h1 {
    margin: 15px 0 15px;
  }
}
